@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #8ca6b8;
  --color-secondary: #acd1e9;
  --color-tertiary: #f28b82;
  --color-background: #f5fafa;
}

::selection {
  background-color: #6ea9d1;
  color: #ffffff;
}
